In [ ]:
#Understanding the Variables

In [2]:
x=5

In [3]:
y=7

In [4]:
x+y

12

In [5]:
#Rules for declaring variables

In [6]:
#No name space while declaring the variable
first name = 'krishna'
print(first name)

SyntaxError: invalid syntax (<ipython-input-6-02a0bb10f8f3>, line 2)

In [7]:
#No number while srarting the variable name
1name='krishna'
print(1name)

SyntaxError: invalid syntax (<ipython-input-7-93a54371aabf>, line 2)

In [8]:
#No special character should be used while declaring the variable name
@name='krishna'
print(@name)

SyntaxError: invalid syntax (<ipython-input-8-4134de992d5c>, line 2)

In [9]:
#Introduction to datatypes in Python
# 1. string (str)
# 2. list
# 3. tuple
# 4. dictionary (dict)

In [10]:
#Classfication of data types
# 1. mutable datatype
# 2. immutable datatype

#mutable datatype - we will be having access to alter, modify or reassign the data
#immutable datatype - we will NOT be having access to alter, modify or reassign the data

In [11]:
#Introduction to string data types
# A string is nothing but a series of character. String is classified as an immutable datatype

In [12]:
#How to define string. 3 possible ways

In [17]:
# 1. single quote
name1 = 'krishna'
print(name1)

krishna

In [18]:
# 2. double quote
name2 = "krishna"
print(name2)

krishna

In [19]:
# 3. triple quote
name3 = """krishna"""
print(name3)

krishna

In [20]:
#to verify and validate the data type.....?
type(name1)
type(name2)
type(name3)

str

In [22]:
#Introduction to string methods: built in methods
name = 'krishna yadav'
print(name)

krishna yadav

In [23]:
#req: correct the nameformat
print(name.title())

Krishna Yadav

In [24]:
#req: to print the full name in capital case
print(name.upper())

KRISHNA YADAV

In [25]:
#req: to print the name in small case
print(name.lower())

krishna yadav